:root {
  /* ### Primary */

  --Orange: hsl(25, 97%, 53%);

  /* ### Neutral */

  --White: hsl(0, 0%, 100%);
  --LightGrey: hsl(217, 12%, 63%);
  --DarkBlue: hsl(213, 19%, 18%);
  --VeryDarkBlue: hsl(216, 12%, 8%);
}
* {
  font-family: "Overpass", sans-serif;

  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}
body {
  background: var(--VeryDarkBlue);
}
section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  padding: 30px;
  height: min(22rem, 55vh);
  width: min(400px, 80vw);
  background: var(--DarkBlue);
}

/* starimg */
.starimg {
  padding: 10px;
  border-radius: 50%;
  width: 12%;
  border: 1px solid transparent;
  background-color: hsla(217, 12%, 63%, 0.2);
}
/* first h1 tag  */
.container h1 {
  color: var(--White);
}
.container p {
  color: var(--LightGrey);
}

/* rating points section */
ol {
  display: flex;
  justify-content: space-between;
}
li {
  font-weight: 700;
  text-align: center;
  color: var(--LightGrey);
  border: 1px solid transparent;
  border-radius: 50%;
  width: 40px;
  background-color: hsla(217, 12%, 63%, 0.2);
  padding: 12px;
}
li:active {
  background-color: var(--White);
}
/* submit btn */
button {
  background-color: var(--Orange);
  color: var(--VeryDarkBlue);
  border: none;
  font-size: 1em;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 100px;

  font-weight: 700;
}
button:active {
  background-color: var(--White);
}
/* thankyou_container */
.thankyou_container {
  display: none;
  gap: 20px;
  flex-direction: column;

  align-items: center;
  border-radius: 20px;

  padding: 30px;
  height: 55%;
  width: min(400px, 80vw);
  background: var(--DarkBlue);
}
.thankyou_container h1 {
  color: var(--White);
}
.thankyou_container:last-child {
  color: var(--LightGrey);
  text-align: center;
}
#illustration_img {
  width: 60%;
}
.out_of_txt {
  color: var(--Orange);
  background-color: hsla(217, 12%, 63%, 0.2);
  border-radius: 10px;
  width: 70%;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
}

/* media query for thank you box */
@media (min-width: 1200px) {
  .thankyou_container {
    height: 58%;
  }
}

/* ------------------author-------------- */
.attribution {
  color: white;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: var(--Orange);
}
